@import url('https://fonts.googleapis.com/css?family=Text+Me+One&display=swap');


html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Verdana;
}

body {
    /*background: #242;*/
    background: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    position: fixed;
    top: 3vh;
    left: 5vh;
    font-family: 'Text Me One', sans-serif;
    font-size: 6vh;
    font-weight: bold;
    color: chocolate;
    /*background: #224422;*/
}

.wrapper-main {
    /*margin: 2%;*/
    /*border: 1px solid black;*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




.option-item {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.option-item__label {
    display: inline-block;
    width: 40%;
    font-size: 4vh;
    text-align: right;
    margin: 0 3vw 0 0;
    color: white;
    user-select: none;
}

/*https://www.filamentgroup.com/lab/select-css.html*/
.option-item select {
    margin: 0;
    padding: 0;
    width: 48%;
    height: 7vh;
    font-size: 5vh;
    border: 0px solid blue;
    border-radius: 10px;
    text-align: center; /*of course not*/
    /*background: darkolivegreen;*/
    background: #555;
    color: white;
    font-family: Verdana;
    cursor: pointer;
}

.option-item .tuning-controls {
    display: inline-block;
    width: 50%;
    height: 7vh;
}

/*lmgtfy:*/
/*https://www.google.com/search?q=css+tricks+vertical+align+text&rlz=1C1CHBF_enUS854US854&oq=css+tricks+vertical+align+text&aqs=chrome..69i57.6411j0j4&sourceid=chrome&ie=UTF-8*/
.option-item .tuning-controls div {
    display: inline-block;
    text-align: center;
    /*border: 1px solid blue;*/
    border-radius: 10px;
    background: chocolate;
    /*background: #555555;*/
    color: #fcc;
    /*color: white;*/
    width: 20%;
    height: 7vh;
    line-height: 7vh; /* https://css-tricks.com/centering-css-complete-guide/ */
    font-size: 5vh;
    margin-right: 2%;
    font-family: Verdana;
    user-select: none;
}
.option-item .tuning-controls .tuning-controls__minus,
.option-item .tuning-controls .tuning-controls_plus {
    cursor: pointer;
}
.option-item .tuning-controls .tuning-controls__value {
    width: 40%;
    background: #555555;
}

.option-item input {
    margin: 0;
    width: 50%;
    height: 5vh;
    cursor: pointer;
}


.start-stop {
    width: 100%;
    height: 20vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-stop button {
    margin: 0 auto;
    width: 80%;
    height: 15vh;
    font-size: 10vh;
    border-radius: 30px;
    border: 0;
    background: chocolate; /*#d2691e*/
    color: white;
    cursor: pointer;
    font-family: Verdana;
    user-select: none;
}

.start-stop button:focus {
    /*https://a11yproject.com/posts/never-remove-css-outlines/*/
}





/*** OPTIONS ***************************************************************************/

.wrapper-options {
    width: 100vw;
    height: 100vh;
    background: #444;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*padding: 0 5vw 10vw 5vw;*/
}

.options-container {
    height: 80%;
    padding: 0 5vw;
}

.options-container label {
    margin: 0 0 1vh 0;
}

label span {
    font-size: 5vh;
}



/*https://hackernoon.com/hacking-custom-checkboxes-and-radios-5d48230440d*/

input[type='checkbox'].check-custom {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

input[type='checkbox'].check-custom ~ .check-toggle {
    width: 3vw;
    height: 3vw;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #969696;
    cursor: pointer;
    border-radius: 20%;
}

input[type='checkbox'].check-custom:hover ~ .check-toggle {
    border-color: #4a4a4a;
    /*background-color: blue;*/
}

input[type='checkbox'].check-custom:focus ~ .check-toggle {
    border-color: #b0d5ff;
    box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
}

input[type='checkbox'].check-custom:checked ~ .check-toggle {
    border-color: #3d3;
    background: #3d3 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 75%;
}



/*** ABOUT ***************************************************************************/


.wrapper-about {
    display: flex;
}

.about-display {
    box-sizing: border-box;
    padding: 0 10vw;
    color: white;
    display: flex;
    align-items: center;
}

.about-display a {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}




/*
https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml

https://www.w3schools.com/cssref/css_websafe_fonts.asp
https://fonts.google.com/specimen/Text+Me+One
https://fonts.google.com/specimen/Allerta+Stencil
https://fonts.google.com/specimen/Federo
https://fonts.google.com/specimen/Raleway+Dots
https://fonts.google.com/specimen/Gruppo
https://fonts.google.com/specimen/Reem+Kufi
https://fonts.google.com/specimen/Syncopate
https://fonts.google.com/specimen/Mitr
https://fonts.google.com/specimen/Monoton
*/
