html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Verdana;
}



/*
https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml

https://www.w3schools.com/cssref/css_websafe_fonts.asp
https://fonts.google.com/specimen/Text+Me+One
https://fonts.google.com/specimen/Allerta+Stencil
https://fonts.google.com/specimen/Federo
https://fonts.google.com/specimen/Raleway+Dots
https://fonts.google.com/specimen/Gruppo
https://fonts.google.com/specimen/Reem+Kufi
https://fonts.google.com/specimen/Syncopate
https://fonts.google.com/specimen/Mitr
https://fonts.google.com/specimen/Monoton
*/
