
@media (min-width:500px) {
    body {
        flex-direction: row-reverse;
    }

    .wrapper-main {
        width: 65%;
    }

    .wrapper-options {
        width: 35%;
        height: 100vh;
    }

    nav {
        display: none;
    }

    .toggle-about{
        position: fixed;
        top: 3vh;
        right: 5vh;
        font-family: sans-serif;
        font-size: 6vh;
        /*font-weight: bold;*/
        color: white;
        background: #224422;
    }

    .wrapper-about {
        display: none;
    }

    .wrapper-about:target {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(100, 100, 100, 0.8);
        /*z-index: 1;*/
    }

    .close-modal {
        position: fixed;
        top: 3vh; right: 3vh;
        width: 10vh; height: 10vh;
        font-size: 10vh; text-decoration: none;
        background: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /*.wrapper-about, .wrapper-about:target ~ .page {*/
    /*    display: none*/
    /*}*/

    /*.page, .wrapper-about:target {*/
    /*    display: flex;*/
    /*}*/

}

/*.default, :target { display: flex; }*/
/*.page, :target ~ .default { display: none }*/



