
@media (min-width:500px) {
    body {
        flex-direction: row;
    }

    nav {
        display: none;
    }

    .wrapper-main {
        width: 65%;
    }

    .wrapper-options {
        width: 35%;
        height: 100vh;
    }

    label span {
        font-size: 5vh;
    }




    /*** ABOUT *****************************************************/

    .toggle-about{
        position: fixed;
        top: 3vh;
        right: 5vh;
    }

    .toggle-about a {
        text-decoration: none;
        color: white;
        font-size: 6vh;
        font-family: sans-serif;
    }

    .wrapper-about {
        display: none;
    }

    .wrapper-about:target {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .close-modal-background {
        background: rgba(255, 255, 255, 0.5);
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }

    .about-display {
        z-index: 1;
        width: 75vw; height: 75vh;
        background: #555555;
        position: relative;
        border-radius: 10px;

    }

    .about-info {
        font-size: 3vw;
    }


    .close-modal-x {
        position: absolute;
        top: 3vh; right: 3vh;
        width: 10vh; height: 10vh;
        font-size: 10vh;
        cursor: pointer;
    }


}



