
/*https://css-tricks.com/boxes-fill-height-dont-squish/*/








nav {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 10vh;
    background: #777;
    display: flex;
}

nav a {
    height: 100%;
    width: 33%;
    text-align: center;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*nav a:hover {*/
/*    background-color: rgba(0,0,0,0.1)*/
/*}*/

@media (max-width:499px) {

    .page, :target ~ .default {
        display: none
    }

    .default, :target {
        display: flex;
    }



    .toggle-about {
        display: none;
    }

    .close-modal-background, .close-modal-x {
        display: none;
    }


    .wrapper-about {
        width: 100vw;
        height: 100vh;
    }

    .about-info {
        font-size: 6vw;
    }


}


