
/*@media (min-width:600px) {*/
@media (orientation: landscape) {

    body {
        flex-direction: row-reverse;
    }

    .page, :target ~ .default {
        display: flex;
    }

    nav {
        display: none;
    }

    .wrapper-main {
        width: 50%;
        padding: 5vh 2.5%;
    }

    .wrapper-options {
        width: 50%;
        height: 100vh;
        padding: 5vh 2.5%;
    }

    .pitch-n-tune {
        margin-bottom: 5vh;
    }

    .toggle-about{
        display: block;
        position: fixed;
        top: 3vh;
        right: 5vh;
    }

    .toggle-about a {
        text-decoration: none;
        color: wheat;
        font-size: 6vh;
        font-family: sans-serif;
    }

    .start-stop,
    .speed {
        margin-bottom: 1vh;
    }

    .options-block.timing {
        margin-bottom: 0;
    }

    /*** ABOUT *****************************************************/


    .wrapper-about {
        display: none;
    }

    .wrapper-about:target {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .close-modal-background {
        background: rgba(255, 255, 255, 0.5);
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }

    .about-display {
        z-index: 1;
        width: 75vw; height: 75vh;
        background: #555555;
        position: relative;
        border-radius: 10px;

    }

    .about-info {
        font-size: 3vw;
        max-height: 70vh;
        padding: 1vh 1vw;
    }

    .close-modal-x {
        display: block;
        position: absolute;
        top: 3vh; right: 3vh;
        width: 10vh; height: 10vh;
        font-size: 10vh;
        cursor: pointer;
    }


}



