@import url('https://fonts.googleapis.com/css?family=Text+Me+One&display=swap');


html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Verdana;
}

body {
    /*background: #242;*/
    background: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
}

/*https://dev.to/hakash/100-pure-htmlcss-page-navigation---no-javascript-required-2em5 (apparently doesn't need the part about the default page being last in the html. Update: yes it does, because otherwise you can scroll around on other 'pages')*/
.page, :target ~ .default {
    display: none
}

.default, :target {
    display: flex;
}



.title {
    position: fixed;
    top: 3vh;
    left: 5vh;
    font-family: 'Text Me One', sans-serif;
    font-size: 6vh;
    font-weight: bold;
    color: chocolate;
    /*background: #224422;*/
}

.toggle-about {
    display: none;
}

.wrapper-main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 5vh 5%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#interval_choosers {
    box-sizing: border-box;
    margin-bottom: 3vh;
    padding: 3vh 1% 0 2%;
    background: #224422;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*align-items: center;*/
    border-radius: 10px;
}
/* re: width... 1% + 2% + 4(24%+1%) === looks perfect? flex must be smooshing things a bit?  */
#interval_choosers select {
    margin: 0 1% 1vh 0;
    padding: 0;
    width: 24%;
    height: 7vh;
    font-size: 3vh;
    border: 0px solid blue;
    border-radius: 10px;
    text-align: center; /* I think it's 'middle'... */
    background: #555;
    color: wheat;
    text-shadow: -1px 1px 1px #333,
                 1px 1px 1px #333;
                 /*1px -1px 0 #555,*/
                 /*-1px -1px 0 #555;*/
    font-family: Verdana;
    cursor: pointer;
    transition-property: background-color color;
    transition-timing-function: ease-in-out;
}

#interval_choosers select.glow {
    background: #fff;
    /*color: #555;*/
}

.pitch-n-tune {
    width: 100%;
    margin-bottom: 6vh;
    display: flex;
    justify-content: space-between;
}

.main-block {
    width: 48%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block__label {
    display: inline-block;
    /*width: 40%;*/
    font-size: 3vh;
    text-align: right;
    margin: 0 0 1vw 0;
    color: wheat;
    user-select: none;
}


/*https://www.filamentgroup.com/lab/select-css.html*/
.main-block select {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
    font-size: 4vh;
    border: 0px solid blue;
    border-radius: 10px;
    text-align: center; /*of course not*/
    /*background: darkolivegreen;*/
    background: #555;
    color: wheat;
    font-family: Verdana;
    cursor: pointer;
}

.main-block .tuning-controls,
.main-block .select-container {
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
}


/*lmgtfy:*/
/*https://www.google.com/search?q=css+tricks+vertical+align+text&rlz=1C1CHBF_enUS854US854&oq=css+tricks+vertical+align+text&aqs=chrome..69i57.6411j0j4&sourceid=chrome&ie=UTF-8*/
.main-block .tuning-controls div {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background: chocolate;
    color: wheat;
    width: 27%;
    /*height: 7vh;*/
    line-height: 7vh; /* https://css-tricks.com/centering-css-complete-guide/ */
    font-size: 4vh;
    font-family: Verdana;
    user-select: none;
}
.main-block .tuning-controls .tuning-controls__minus,
.main-block .tuning-controls .tuning-controls_plus {
    cursor: pointer;
}
.main-block .tuning-controls .tuning-controls__value {
    width: 38%;
    background: #555555;
}




.start-stop {
    width: 100%;
    height: 10vh;
    margin: 0 0 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-stop button {
    width: 70%;
    height: 100%;
    font-size: 7vh;
    border-radius: 20px;
    border: 0;
    background: chocolate; /*#d2691e*/
    color: wheat;
    cursor: pointer;
    font-family: Verdana;
    user-select: none;
}

.start-stop button:focus { /*https://a11yproject.com/posts/never-remove-css-outlines/*/ }

@keyframes shadow-pulse
{
    0% { box-shadow: 0 0 0 0 rgba(255, 200, 200, 0.5); }
    100% { box-shadow: 0 0 0 3vh rgba(0, 0, 0, 0); }
}

.pulse {
    animation: shadow-pulse 2.5s infinite;
}




/**************************************************************************
* OPTIONS
 **************************************************************************/

label span {
    font-size: 5vw;
}
/*this seems like it would be problematically nonspecific if the app gets much bigger */

.wrapper-options {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 5vh 5%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #444;
}

.options-page__title {
    text-align: center;
    color: wheat;
    font-size: 3vh;
    margin: 0 0 1vh 0;
}

.options-block {
    box-sizing: border-box;
    width: 100%;
    /*height: 30%;*/
    padding: 1vh 2vw;
    margin: 0 0 5vh 0;
    display: flex;
    flex-direction: column;
    font-size: 1.8vh;
    background: #224422;
    border-radius: 10px;
}

.options-block__option {
    display: flex;
    margin-bottom: 0.5vh;
    align-items: center;
}

.toggle_label {
    width: 25%;
    text-align: right;
}

.toggle_label.synth-effects {
    width: 18%
}

label.options-block__checkbox-container {
    margin-left: 2%;
}

.options-block__input-label {
    margin-left: 2%;
    width: 13%;
    text-align: right;
}

.options-block__input-label.overtone-ranges {
    width: 5%
}

.options-block__input-label.clusters-density {
    /*margin-left: 0;*/
    width: 16%;
}

.options-block__number {
    margin-left: 1%;
    width: 12%;
    /*color: black;*/
        /*why not inheriting color from .wrapper-options?*/
    background: wheat;
}

.options-block__number.clusters-density {
    width: 12%;
    background: wheat;
}


.options-block.timing {
    flex-direction: row;
    justify-content: space-around;
    padding: 1vh 3vw;
    margin: 0 0 7vh 0;
}

.timing__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
    /*background: chocolate;*/
}

.timing__stage {
    font-size: 3vh;
    padding-left: 2vw;
    margin-bottom: 0.5vh;
}

.timing__min-max {
    display: flex;
    width: 100%;
    margin-bottom: 0.5vh;
}

.timing__input-label {
    width: 40%;
    text-align: right;
}

.timing__number {
    margin-left: 1%;
    width: 45%;
    background: wheat;
}


/******************************************************************************
* CHECKBOXES just deserve their own special section
******************************************************************************/

/*https://hackernoon.com/hacking-custom-checkboxes-and-radios-5d48230440d*/
input[type='checkbox'].check-custom {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

input[type='checkbox'].check-custom ~ .check-toggle {
    width: 3vh;
    height: 3vh;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #b6b6b6;
    cursor: pointer;
    border-radius: 20%;
    margin-right: 5%;
}

input[type='checkbox'].check-custom:hover ~ .check-toggle {
    border-color: chocolate;
    /*background-color: blue;*/
}

input[type='checkbox'].check-custom:focus ~ .check-toggle {
    border-color: #b0d5ff;
    box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
}

input[type='checkbox'].check-custom:checked ~ .check-toggle {
    border-color: chocolate;
    background: chocolate url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 75%;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}


/*****************************************************************************
* ABOUT
******************************************************************************/


.wrapper-about {
    /*display: flex;*/
    width: 100vw;
    height: 100vh;
}

.close-modal-background, .close-modal-x {
    display: none;
}

.about-display {
    box-sizing: border-box;
    padding: 0 10vw;
    color: wheat;
    display: flex;
    align-items: center;
}

.about-display a {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}

.about-info {
    font-size: 6vw;
    overflow-y: auto;
    max-height: 78vh;
    padding: 1vh 1vw;
}



/*****************************************************************************
* MOBILE NAV
******************************************************************************/


nav {
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 10vh;
    background: #777;
    display: flex;
}

nav a {
    height: 100%;
    width: 33%;
    text-align: center;
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*nav a:hover {*/
/*    background-color: rgba(0,0,0,0.1)*/
/*}*/






/*
https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml

https://www.w3schools.com/cssref/css_websafe_fonts.asp
https://fonts.google.com/specimen/Text+Me+One
https://fonts.google.com/specimen/Allerta+Stencil
https://fonts.google.com/specimen/Federo
https://fonts.google.com/specimen/Raleway+Dots
https://fonts.google.com/specimen/Gruppo
https://fonts.google.com/specimen/Reem+Kufi
https://fonts.google.com/specimen/Syncopate
https://fonts.google.com/specimen/Mitr
https://fonts.google.com/specimen/Monoton

@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

*/
