@import url('https://fonts.googleapis.com/css?family=Text+Me+One&display=swap');


html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Verdana;
}

body {
    /*background: #242;*/
    background: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    position: fixed;
    top: 3vh;
    left: 5vh;
    font-family: 'Text Me One', sans-serif;
    font-size: 6vh;
    font-weight: bold;
    color: chocolate;
    /*background: #224422;*/
}

.wrapper-main {
    /*margin: 2%;*/
    /*border: 1px solid black;*/
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}



#interval_choosers {
    box-sizing: border-box;
    margin-bottom: 3vh;
    padding: 6% 5%;
    background: #224422;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
}

#interval_choosers select {
    margin: 0 0 1vw 1vw;
    padding: 0;
    width: 22%;
    height: 7vh;
    font-size: 3vh;
    border: 0px solid blue;
    border-radius: 10px;
    text-align: center; /*of course not*/
    background: #555;
    color: white;
    font-family: Verdana;
    cursor: pointer;
}

.intervalAddRemove {
    margin-bottom: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

    /*background: #000;*/
}

#intervalAddButton,
#intervalRemoveButton {
    text-align: center;
    border-radius: 10px;
    background: chocolate;
    color: #fcc;
    width: 48%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*line-height: 5vh; !* https://css-tricks.com/centering-css-complete-guide/ *!*/
    font-size: 3vh;
    font-family: Verdana;
    user-select: none;
    cursor: pointer;
}



.pitch-n-tune {
    width: 100%;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
}

.option-item {
    width: 48%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-item__label {
    display: inline-block;
    /*width: 40%;*/
    font-size: 3vh;
    text-align: right;
    margin: 0 0 1vw 0;
    color: white;
    user-select: none;
}


/*https://www.filamentgroup.com/lab/select-css.html*/
.option-item select {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vh;
    font-size: 4vh;
    border: 0px solid blue;
    border-radius: 10px;
    text-align: center; /*of course not*/
    /*background: darkolivegreen;*/
    background: #555;
    color: white;
    font-family: Verdana;
    cursor: pointer;
}

.option-item .tuning-controls,
.option-item .select-container {
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
}


/*lmgtfy:*/
/*https://www.google.com/search?q=css+tricks+vertical+align+text&rlz=1C1CHBF_enUS854US854&oq=css+tricks+vertical+align+text&aqs=chrome..69i57.6411j0j4&sourceid=chrome&ie=UTF-8*/
.option-item .tuning-controls div {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background: chocolate;
    color: #fcc;
    width: 27%;
    /*height: 7vh;*/
    line-height: 7vh; /* https://css-tricks.com/centering-css-complete-guide/ */
    font-size: 4vh;
    font-family: Verdana;
    user-select: none;
}
.option-item .tuning-controls .tuning-controls__minus,
.option-item .tuning-controls .tuning-controls_plus {
    cursor: pointer;
}
.option-item .tuning-controls .tuning-controls__value {
    width: 38%;
    background: #555555;
}




.start-stop {
    width: 100%;
    height: 10vh;
    margin: 0 0 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-stop button {
    width: 70%;
    height: 100%;
    font-size: 7vh;
    border-radius: 20px;
    border: 0;
    background: chocolate; /*#d2691e*/
    color: white;
    cursor: pointer;
    font-family: Verdana;
    user-select: none;
}

.start-stop button:focus { /*https://a11yproject.com/posts/never-remove-css-outlines/*/ }







/**************************************************************************
* OPTIONS
 **************************************************************************/

.wrapper-options {
    width: 100vw;
    height: 100vh;
    background: #444;
    display: flex;
    box-sizing: border-box;
    padding: 5vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*padding: 0 5vw 10vw 5vw;*/
}

.options-page__title {
    text-align: center;
    color: wheat;
    font-size: 3vh;
    margin: 5vh 0 1vh 0;
}


.options-block {
    /*width: 100%;*/
    /*height: 30%;*/
    padding: 1vh 5vw;
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
    background: #224422;
    border-radius: 10px;
}


.options-block__option {
    display: flex;
    margin-bottom: 0.5vh;
}

.toggle_label {
    display: block;
    width: 30%;
    /*background: #000;*/
    color: wheat;
    text-align: right;
}

label.options-block__checkbox-container {
    display: block;
    margin-left: 2%;
}


.options-block__input-label {
    margin-left: 5%;
    color: wheat;
}

.options-block__number {
    width: 15%;
    background: wheat;
}


/*https://hackernoon.com/hacking-custom-checkboxes-and-radios-5d48230440d*/
input[type='checkbox'].check-custom {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

input[type='checkbox'].check-custom ~ .check-toggle {
    width: 3vw;
    height: 3vw;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #b6b6b6;
    cursor: pointer;
    border-radius: 20%;
    margin-right: 5%;
}

input[type='checkbox'].check-custom:hover ~ .check-toggle {
    border-color: chocolate;
    /*background-color: blue;*/
}

input[type='checkbox'].check-custom:focus ~ .check-toggle {
    border-color: #b0d5ff;
    box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
}

input[type='checkbox'].check-custom:checked ~ .check-toggle {
    border-color: chocolate;
    background: chocolate url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=) center no-repeat;
    background-size: 75%;
}



.speed {
    width: 100%;
    height: 8%;
    margin: 0 5% 25% 5%;
    color: white;
    background: chocolate;
    font-size: 4vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed input {
    width:90%;
}


/*****************************************************************************
* ABOUT
******************************************************************************/


.wrapper-about {
    display: flex;
}

.about-display {
    box-sizing: border-box;
    padding: 0 10vw;
    color: white;
    display: flex;
    align-items: center;
}

.about-display a {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}




/*
https://www.thesitewizard.com/css/mobile-friendly-responsive-design.shtml

https://www.w3schools.com/cssref/css_websafe_fonts.asp
https://fonts.google.com/specimen/Text+Me+One
https://fonts.google.com/specimen/Allerta+Stencil
https://fonts.google.com/specimen/Federo
https://fonts.google.com/specimen/Raleway+Dots
https://fonts.google.com/specimen/Gruppo
https://fonts.google.com/specimen/Reem+Kufi
https://fonts.google.com/specimen/Syncopate
https://fonts.google.com/specimen/Mitr
https://fonts.google.com/specimen/Monoton
*/
